# Virtual Environment
.venv/
venv/

# Django
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env
*.env
.env.*

# Node / Frontend build
node_modules/
build/
dist/

# Media
media/

# Static
staticfiles/

# Logs
backend/logs/

# IDE
.vscode/
.idea/